<div class="row">
  <img class='img-fluid w-100'> <%= image_tag "default_profile_header_2.png" %> </img>
</div>
<div class="container mt-4">
    <% if current_user == @user %>
        <h1 class="text-center">Your profile page</h1>
        <hr>
        <p>Here are all of your chats: </p>
        <div class="dropend">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                View my chats
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <% if @chatrooms %>
                    <% @chatrooms.each do |chatroom| %>
                        <li><%= link_to "Chat with #{chatroom.owner.first_name}", chatroom_path(chatroom) %></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    <% else %>
        <h1 class="text-center"><%= @user.first_name %> <%=  @user.last_name  %> profile page</h1>
        <%= link_to "Chat", chatrooms_path(user_id: @user.id), method: :post %>
    <% end %>
</div>
<div class="container mt-4">
  <%= image_tag "default_profile_picture.jpg", height: 60, width: 60, crop: :fill %>
  <p><%= @user.first_name %> <%=  @user.last_name  %><br>
  @<%= @user.first_name %><%=  @user.last_name  %><br>
  Alcohol evangelist. Tv specialist. Lifelong beer junkie. Passionate twitter geek.
Problem solver. Avid pop culture enthusiast. Web fanatic.</p>
</div>
<div class="container mt-4">
  <h1>Followers and follow user section</h1>
</div>
<div class="container mt-4">
  <h1>Filtering button section</h1>
</div>
<div class="container mt-4">
  <h1>user filter and message button</h1>
</div>
<div class="container mt-4">
  <h1>filtered NFT list</h1>
</div>
