<div class="row">
  <img class='img-fluid w-100'> <%= image_tag "default_profile_header_2.png" %>
</div>
<div class="main-container">
  <div class="user-info-container">
    <!-- <div class="row"> -->
      <div class="col-8" >
        <%= image_tag @user.avatar, height: 100, width: 100, :crop=> 'fill', :class=> 'rounded-circle' %>
        <h3><%= @user.first_name %> <%=  @user.last_name  %> </h3>
        <h5>@<%= @user.first_name %><%=  @user.last_name  %></h5>
        <div class="col-7">
          <p><%= @user.bio %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="card card-user p-2 mt-5">
          <div class="row">
            <div class="col-4 column-items">
              <p class="m-0"><strong><%= @following_users.count %></strong></p>
              <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#following-users">
                Following
              </button>
              <div class="modal fade" id="following-users" tabindex="-1" aria-labelledby="following-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="following-label">Following users</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <% @following_users.each do |follower| %>
                        <div class="d-flex align-items-center justify-content-around">
                          <%= image_tag current_user.avatar, class:"avatar", style:"margin-right: 20px;"  %>
                          <p class="m-0"> <%= follower.first_name.capitalize %> <%= follower.last_name.capitalize %> </p>
                          <%= link_to "Profile", user_path(follower), class:"btn", style:"font-weight: 600;" %>
                        </div>
                        <hr>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 column-items">
              <p class="m-0"><strong><%= @follower_users.count %></strong></p>
              <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#follower-users">
                Follower
              </button>
              <div class="modal fade" id="follower-users" tabindex="-1" aria-labelledby="follower-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="follower-label">Following users</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <% @follower_users.each do |follower| %>
                        <div class="d-flex align-items-center justify-content-around">
                          <%= image_tag current_user.avatar, class:"avatar", style:"margin-right: 20px;"  %>
                          <p class="m-0"> <%= follower.first_name.capitalize %> <%= follower.last_name.capitalize %> </p>
                          <%= link_to "Profile", user_path(follower), class:"btn", style:"font-weight: 600;" %>
                        </div>
                        <hr>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <% if current_user != @user %>
                <button type="button" class="btn btn-dark">Follow</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
  <div style="border-top: solid 1px ; border-color: #CCCCCC">
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="container col-3">
        <div class="card card-user p-2">
          <div class="row">
            <div class="container col-2">
              <%= image_tag @user.avatar, height: 40, width: 40, :crop=> 'fill', :class=> 'rounded-circle' %>
            </div>
            <div class="container col-10">
              <h5><%= @user.first_name %> <%=  @user.last_name  %></h5>
            </div>
          </div>
          <div class="row p-2">
            <div style="border-top: solid 1px ; border-color: #CCCCCC">
            </div>
          </div>
          <div class="row">
            <div class="container col-10">
            <%# Implemented the logic of showing specific cases of nfts %>
              <%= simple_form_for user_path(@user), method: :get do |f| %>
                <%= hidden_field_tag :category, "owned" %>
                <div class="d-flex align-items-center">
                  <i class="fas fa-fingerprint px-2" style="color:#333333;"></i>
                  <%= f.submit "Owned", class:"btn" %>
                </div>
              <% end %>
              <%# End %>
            </div>
            <div class="container col-2">
              <p><%= @owned_count %></p>
            </div>
          </div>
          <div class="row">
            <div class="container col-10">
              <%= simple_form_for user_path(@user), method: :get do |f| %>
                  <%= hidden_field_tag :category, "created" %>
                  <div class="d-flex align-items-center">
                    <i class="fas fa-pen px-2" style="color:#333333;"></i>
                    <%= f.submit "Created", class:"btn" %>
                  </div>
                <% end %>
            </div>
            <div class="container col-2">
              <p><%= @created_count %></p>
            </div>
          </div>
          <div class="row">
            <div class="container col-10">
                <%= simple_form_for user_path(@user), method: :get do |f| %>
                  <%= hidden_field_tag :category, "liked" %>
                  <div class="d-flex align-items-center">
                    <i class="far fa-heart px-2" style="color:#333333;"></i>
                    <%= f.submit "Liked", class:"btn" %>
                  </div>
                <% end %>
            </div>
            <div class="container col-2">
              <p><%= @liked_count %></p>
            </div>
          </div>
        </div>
        <div class="container mt-4">
            <% if current_user == @user %>
                <% if @chatrooms != []%>
                  <div class="dropdown">
                      <button class="btn follow-button dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          My chatrooms
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <div class="dropdown-chat">
                            <% @chatrooms.each do |chatroom| %>
                                <% if chatroom.owner == @user %>
                                  <li><%= link_to "Chat with #{chatroom.client.first_name.upcase}", chatroom_path(chatroom), class:"btn mt-2 link-profile-chat" %></li>
                                <% else %>
                                  <li><%= link_to "Chat with #{chatroom.owner.first_name.upcase}", chatroom_path(chatroom), class:"btn mt-2 link-profile-chat" %></li>
                                <% end %>
                            <% end %>
                          </div>
                      </ul>
                  </div>
                <% end %>
            <% else %>
              <div class="row">
                <div class="container col-12">
                  <%= link_to "Message", chatrooms_path(user_id: @user.id), method: :post, class: "btn btn-block btn-outline-secondary" %>
                </div>
              </div>
            <% end %>
          <div class="nft-collection"></div>
        </div>
      </div>
      <div class="container col-9">
        <div class="nfts-container">
          <% @Nft.each do |nft| %>
            <div class="container">
              <div class="card card-user" style="width: 18rem; border-radius: 10px">
                <%= image_tag nft.image_url, height: 300, width: 150, :class=> "card-img-top img-rounded-corner" %>
                <div class="card-body">
                  <h5 class="card-title"><%= nft.name %></h5>
                  <p class="card-text"><%= nft.category %></p>
                  <%= link_to "View", nft_path(nft), class: "btn btn-block btn-outline-primary" %>

                  <div class="mt-2" style="border-top: solid 1px ; border-color: #CCCCCC">
                  </div>
                  <div class="row">
                    <div class="mt-2">
                      <p>Owned by</p>
                    </div>
                    <div class="container col-3">
                      <%= image_tag @user.avatar, height: 40, width: 40, :crop=> 'fill', :class=> 'rounded-circle' %>
                    </div>
                    <div class="container col-6">
                      <p class="m-0"><%= @user.first_name %> <%=  @user.last_name  %></p>
                    </div>
                    <div class="container col-3">
                      <a href="#" style="font-size: 15px" >Follow</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
