<div class="row">
  <img class='img-fluid w-100'> <%= image_tag "default_profile_header_2.png" %>
</div>
<div class="user-main-container">
  <div class="user-info-container">
    <!-- <div class="row"> -->
      <div class="col-8" >
        <%= cl_image_tag @user.avatar.key, height: 100, width: 100, :crop=> 'fill', :class=> 'rounded-circle' %>
        <h3><%= @user.first_name %> <%=  @user.last_name  %> </h3>
        <h5>@<%= @user.first_name %><%=  @user.last_name  %></h5>
        <div class="col-7">
          <p><%= @user.bio %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="card card-user p-2 mt-5">
          <div class="row d-flex align-items-center">
            <div class="col-4 column-items">
              <!-- <p class="m-0"><strong><%= @following_users.count %></strong></p> -->
              <strong><%= @following_users.count %> <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#following-users">
                 Following
              </button></strong>
              <!---target of bttn needs to be refrecned in the modal below--->
              <div class="modal fade" id="following-users" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="following-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="following-label">Following users</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <% @following_users.each_with_index do |follower, index| %>
                        <div class="d-flex align-items-center justify-content-around">
                          <%= cl_image_tag follower.avatar.key, class:"avatar", style:"margin-right: 20px;"  %>
                          <p class="m-0"> <%= follower.first_name.capitalize %> <%= follower.last_name.capitalize %> </p>
                          <%= link_to "Profile", user_path(follower), class:"btn", style:"font-weight: 600;" %>
                        </div>
                        <hr>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn upload-file" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 column-items">
              <p class="m-0"><strong>
                <%= @follower_users.count %> <br>
                <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#follower-users">
                  Follower
                </button></strong>
              </p>
              <div class="modal fade" id="follower-users" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="follower-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content" style="background-color: #F7F9FB;">
                    <div class="modal-header">
                      <h5 class="modal-title" id="follower-label">Follower users</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <% @follower_users.each_with_index do |follower, index| %>
                        <div class="d-flex align-items-center justify-content-around">
                          <%= image_tag current_user.avatar, class:"avatar", style:"margin-right: 20px;"  %>
                          <p class="m-0"> <%= follower.first_name.capitalize %> <%= follower.last_name.capitalize %> </p>
                          <%= link_to "Profile", user_path(follower), class:"btn" %>
                        </div>
                        <hr>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn upload-file" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <% if current_user != @user %>
                <%= link_to toggle_follows_path(user_id: @user.id), class:"link-suggestion", style:"color: grey;", remote: true, method: :post do %>
              <!-- the link default is black -->
                  <%= render 'pages/follows_button', user: @user %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
  <hr>
  <div class="mt-4 mx-5">
    <div class="row bottom-user-container">
      <div class="container col-3">
        <div class="card card-user p-2">
          <div class="row">
            <div class="container col-2">
              <%= cl_image_tag @user.avatar.key, height: 40, width: 40, :crop=> 'fill', :class=> 'rounded-circle' %>
            </div>
            <div class="container col-10">
              <h5><%= @user.first_name %> <%=  @user.last_name  %></h5>
            </div>
          </div>
          <div class="row p-2">
            <div style="border-top: solid 1px ; border-color: #CCCCCC">
            </div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="container col-10">
            <%# Implemented the logic of showing specific cases of nfts %>
              <%= simple_form_for user_path(@user), method: :get do |f| %>
                <%= hidden_field_tag :category, "owned" %>
                <div class="d-flex align-items-center">
                  <i class="fas fa-fingerprint px-2" style="color:#333333;"></i>
                  <%= f.submit "Owned", class:"btn" %>
                </div>
              <% end %>
              <%# End %>
            </div>
            <div class="container col-2" style="margin-bottom: 0px;">
              <p style="margin-bottom: 0px;"><%= @owned_count %></p>
            </div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="container col-10">
              <%= simple_form_for user_path(@user), method: :get do |f| %>
                  <%= hidden_field_tag :category, "created" %>
                  <div class="d-flex align-items-center">
                    <i class="fas fa-pen px-2" style="color:#333333;"></i>
                    <%= f.submit "Created", class:"btn" %>
                  </div>
                <% end %>
            </div>
            <div class="container col-2" style="margin-bottom: 0px;">
              <p style="margin-bottom: 0px;"><%= @created_count %></p>
            </div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="container col-10">
                <%= simple_form_for user_path(@user), method: :get do |f| %>
                  <%= hidden_field_tag :category, "liked" %>
                  <div class="d-flex align-items-center">
                    <i class="far fa-heart px-2" style="color:#333333;"></i>
                    <%= f.submit "Liked", class:"btn" %>
                  </div>
                <% end %>
            </div>
            <div class="container col-2"  style="margin-bottom: 0px;">
              <p style="margin-bottom: 0px;"><%= @liked_count %></p>
            </div>
          </div>
          <div class="container mt-4">
              <% if current_user == @user %>
                  <% if @chatrooms != []%>
                    <div class="dropdown my-2">
                        <button class="btn follow-button dropdown-toggle chat-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            My chatrooms
                        </button>
                        <ul class="dropdown-menu" style="background-color: transparent; border: none;" aria-labelledby="dropdownMenuButton1">
                            <div class="dropdown-chat">
                              <% @chatrooms.each do |chatroom| %>
                                  <div class="d-flex align-items-center card-search-user my-3">
                                    <% if chatroom.owner == @user %>
                                      <% if chatroom.client.avatar.attached? %>
                                        <%= cl_image_tag chatroom.client.avatar.key, crop: :fill, class:"avatar" %>
                                      <% end %>
                                      <li><%= link_to "Chat with #{chatroom.client.first_name.upcase} #{chatroom.client.last_name}", chatroom_path(chatroom), class:"btn dropdown-item" %></li>
                                    <% else %>
                                      <% if chatroom.client.avatar.attached? %>
                                        <%= cl_image_tag chatroom.owner.avatar.key, crop: :fill, class:"avatar" %>
                                      <% end %>
                                      <li><%= link_to "Chat with #{chatroom.owner.first_name.upcase} #{chatroom.owner.last_name}", chatroom_path(chatroom), class:"btn dropdown-item" %></li>
                                    <% end %>
                                  </div>
                              <% end %>
                            </div>
                        </ul>
                    </div>
                  <% end %>
              <% else %>
                <div class="row">
                  <div class="container col-12">
                    <%= link_to "Message", chatrooms_path(user_id: @user.id), method: :post, class: "btn btn-block btn-outline-secondary chat-button rounded-corner" %>
                  </div>
                </div>
              <% end %>
          </div>
          <div class="nft-collection"></div>
        </div>
      </div>
      <div class="container col-9">
        <div class="nfts-container">
          <% @Nft.each do |nft| %>
            <div class="card card-nft">
              <!-- <div class="card card-nft" style="width: 18rem; border-radius: 10px"> -->
                <%= image_tag nft.image_url, height: 300, width: 150, :class=> "card-img-top img-rounded-corner" %>
                <div class="card-body">
                  <h5 class="card-title"><%= nft.name %></h5>
                  <p class="card-text"><%= nft.category %></p>
                  <%= link_to "View", nft_path(nft), class: "btn btn-block follow-button" %>

                  <div class="mt-2" style="border-top: solid 1px ; border-color: #CCCCCC">
                  </div>
                    <div class="row">
                      <div class="mt-2">
                        <p>Owned by</p>
                      </div>
                      <div class="container col-2">

                        <%= cl_image_tag nft.user.avatar.key, height: 40, width: 40, :crop=> 'fill', :class=> 'rounded-circle' %>

                      </div>
                      <div class="container col-6">
                        <p class="m-0"><%= nft.user.first_name %> <%=  nft.user.last_name  %></p>
                      </div>
                        <div class="container col-4">
                          <% if nft.user != @user %>
                            <%= link_to "Profile", user_path(nft.user), class:"btn upload-file"  %>
                          <% end %>
                        </div>
                    </div>
                </div>
              <!-- </div> -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
