<div class="container" style="background-color: white;">
  <div class="bg-white">
    <div class="card-category d-flex align-items-center justify-content-center" style="background-color: black;">
      <div style="padding: 40px; object-fit: cover;">
        <%= image_tag @nft.image_url%>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-around card-product">
    <div class="nft-name">
      <h2><%=@nft.name %></h2>
    </div>
    <div class="card-product-infos">
      <p><%=@nft.description %></p>
      <p>£ <%=@nft.price %></p>
    </div>
  </div>

  <div class="d-flex justify-content-around my-4">
    <div class="card bg-white p-3">
      <p>Owned by</p>
    </div>
    <div class="card bg-white p-3">
      <% if @nft.comments.blank? %>
          Be the first to leave a comment for <strong><%= @nft.name %></strong>
      <% else %>
        <% @nft.comments.each do |comment|%>
        <p><%= comment.user.email %></p>
        <p id="comment-<%= comment.id %>"><%= comment.content %></p>
        <% end %>
      <% end %>

      <%= simple_form_for([ @nft, @comment ], remote: true) do |f| %>
      <%= f.input :content %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
















