<div class="container showcard">
  <h2><%= @nft.name %></h2>
  <p><%= @nft.price %></p>
  <p><%= @nft.category %></p>
  <p><%= @nft.description %></p>
  <%= link_to "Back to home", root_path  %>
  <%= link_to "Edit", edit_nft_path(@nft)  %>
  <%#= link_to "Delete", flat_path(@flat), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
<% @comments.each do |comment|  %>
<%= comment.content  %>
<% end  %>


<%= simple_form_for(@comment) do |f| %>
  <%= f.input :name %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
