<div class="container" style="background-color: white;">
  <div class="bg-white">
    <div class="card-category d-flex align-items-center justify-content-center" style="background-color: black;">
      <div style="padding: 40px; object-fit: cover;">
        <%= image_tag @nft.image_url%>
      </div>
    </div>
  </div>
<!------------------------End Of NFT Image--------------->

<!-----------------------Main card description---------------->
  <div class="card-product d-flex align-items-center justify-content-around">
    <div class="nft-name">
      <!-- <i class="far fa-heart" style="color:#E94A47; margin-right: 8px;"></i> -->

      <%# if current_user.favorited?(@nft) %>
        <%#= render 'like_button', heartColor: "â¤ï¸" %>
      <%# else %>
        <%#= render 'like_button', heartColor: "ðŸ¤" %>
      <div class="d-flex align-items-center justify-content-start">
        <div>
          <%= link_to toggle_favorite_nft_path(@nft), remote: true, method: :post, style: "color: black;" do %>
          <!-- the link default is black -->
            <%= render 'nfts/like_button', nft: @nft %>
          <% end %>
        </div>
        <%# end %>
        <div>
          <i class="far fa-comment" style="color:#E94A47;"> <%= @nft.comments.count %> </i>
          <%= link_to "Check it out", @nft.external_url  %>
        </div>
      </div>

      <p class="m-0" style="padding-left: 8px; font-size: 18px;">liked by
        <% @nft.favoritors.first(2).each  do |favoritor| %>
          <strong><%= favoritor.first_name %></strong>
        <% end %>
        <% if @nft.favorited.count > 2 %>
          and <strong><%= @nft.favorited.count - 2  %></strong>
          <strong><%= 'other'.pluralize(@nft.favorited.count - 2)  %></strong>
        <% end %>
      </p>
    </div>
    <div class="card-product-infos">
      <p class="mb-1" style="font-size: 18px; margin-top: 20px"><%=@nft.description %></p>
      <p style="font-size: 18px; font-weight: 600;">Â£ <%=@nft.price %></p>
    </div>
  </div>
<!----------------------END-Main card Description---------------->


<!-----------------------Main card Description2--------------------->
  <div class="d-flex justify-content-around my-4">
    <!-----------------------Owned card Description---------------->
    <div>
      <h4>Owned by</h4>
      <div class="card-follow-show d-flex justify-content-around align-items-center">
      <%# style="min-width: 320px; border-style: solid; border-width: thin; border-radius: 5px; border-color: grey" %>
        <%= link_to user_path(@user), class:'text-decoration-none' do %>
          <div class="px-3">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-large", alt: "avatar" %>
          </div>
        <% end %>
        <div style="margin-right: 50px;">
          <% user = User.find(@nft.user_id) %>
          <p style="margin-bottom: 0px;"><%= user.first_name %> <%= user.last_name %></p>
          <div class="title-card-block">
              <% timeUTC = Time.now.utc - @nft.created_at  %>
              <% time = (timeUTC / 60).to_i %>
              <% if time < 119 %>
                  <p style="margin-bottom: 0px;"> <%= time %> min</p>
              <% else %>
                  <% time = (time / 60).to_i %>
                  <p style="margin-bottom: 0px;"> <%= time %> hours</p>
              <% end %>
          </div>
        </div>
        <div class="follow-nft-show">
          <% if current_user != user %>
              <%= link_to toggle_follows_path(user_id: user.id), class:"link-suggestion", style:"color: grey;", remote: true, method: :post do %>
            <!-- the link default is black -->
                <%= render 'pages/follows_button', user: user %>
              <% end %>
          <% end %>
          <%= link_to 'Check profile', user_path(@nft.user), class:"btn follow-button", id:"btn-follow-show" %>
        </div>
      </div>
    </div>
    <!-----------------------End of Owned card---------------->


    <!-----------------------Comments card ------------------------->
    <div class="card bg-white p-3" style="width: 580px; border-radius: 5px">
      <% if @nft.comments.blank? %>
        Be the first to leave a comment for <strong><%= @nft.name %></strong>
      <% else %>

        <% @nft.comments.each do |comment|%>
        <div class="comment-card d-flex justify-content-between">
          <div class="comment-card-bio d-flex">
            <div class="comment-card-avatar">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-large", alt: "avatar" %>
            </div>
            <div class="comment-card-info" style="margin-left: 20px;">
              <h5 style="font-weight: 500; color:#3A77BB;"><%= comment.user.first_name %><%= comment.user.last_name %></h5>
              <p id="comment-<%= comment.id %>"><%= comment.content %></p>
            </div>
          </div>
          <div class="comment-card-delete-date d-flex">
            <% if comment.user.id == current_user.id %>
              <%= link_to 'Delete', nft_comment_path(@nft, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
              <!-- nft_comment DELETE /nfts/:nft_id/comments/:id(.:format)? Where is NFT_id? -->
            <% end %>
            <p style="margin-left: 10px;"><%= comment.created_at.to_s[0..10] %></p>
          </div>
        </div>
          <% end %>
        <% end %>
        <div class="my-3">
          <%= simple_form_for([ @nft, @comment ], remote: true) do |f| %>
            <%= f.text_field :content, label: false, placeholder:"Your comment...", class: "form-control" %>
            <%= f.submit "Comment", class:"btn follow-button my-2" %>
          <% end %>
        </div>
    </div>

<!-- align-items-center justify-content-center -->
<!-- Iuser logged in show avatar, name and delete button
      comment @ delete display flex space between
      name = comment stack on top
      name = comment color
      placeholder for text box- outline grey -->


<!-- #analogy for creating a link to destroy
the path- start point nft- follow the road (foregin key) to end point (comment)
when we get to end point we need to know who to kill by their id
Nft -----foregin key path----comment--id/destroy
Rais route path below
nft_comment DELETE /nfts/:nft_id/comments/:id(.:format)---->
 <!--nft_comment_path(nft_id: @nft.id, id: comment.id) use the same as-->






