<div class="container" style="background-color: white;">
  <div class="bg-white">
    <div class="card-category d-flex align-items-center justify-content-center" style="background-color: black;">
      <div style="padding: 40px; object-fit: cover;">
        <%= image_tag @nft.image_url%>
      </div>
    </div>
  </div>
<!------------------------End Of NFT Image--------------->

<!-----------------------Main card description---------------->
  <div class="card-product d-flex justify-content-around">
    <div class="nft-name">
      <h2 class="mb-2"><%=@nft.name %></h2>
      <!-- <i class="far fa-heart" style="color:#E94A47; margin-right: 8px;"></i> -->

      <%# if current_user.favorited?(@nft) %>
        <%#= render 'like_button', heartColor: "â¤ï¸" %>
      <%# else %>
        <%#= render 'like_button', heartColor: "ðŸ¤" %>
        <%= link_to toggle_favorite_nft_path(@nft), remote: true, method: :post, style: "color: black;" do %>
        <!-- the link default is black -->
          <%= render 'nfts/like_button', nft: @nft %>
        <% end %>
      <%# end %>

      <i class="far fa-comment" style="color:#E94A47;"></i>
      <p>Liked by <strong>Jonas</strong> and <strong>43 others</strong> </p>
    </div>
    <div class="card-product-infos">
      <p class="mb-1" style="max-width: 520px; margin-top: 16px"><%=@nft.description %></p>
      <p style="margin-bottom:16px">Â£ <%=@nft.price %></p>
    </div>
  </div>
<!----------------------END-Main card Description---------------->


<!-----------------------Main card Description2--------------------->
  <div class="d-flex justify-content-around my-4">
    <!-----------------------Owned card Description---------------->
    <div>
      <h4>Owned by</h4>
      <div class="d-flex justify-content-around align-items-center" style="min-width: 320px; border-style: solid; border-width: thin; border-radius: 5px; border-color: grey">
        <%= link_to user_path(@user), class:'text-decoration-none' do %>
          <div class="p-2">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-large", alt: "avatar" %>
          </div>
        <% end %>
        <div>
          <p>name</p>
          <div class="title-card-block px-3">
              <% timeUTC = Time.now.utc - @nft.created_at  %>
              <% time = (timeUTC / 60).to_i %>
              <% if time < 119 %>
                  <p style="margin-bottom: 0px;"> <%= time %> min</p>
              <% else %>
                  <% time = (time / 60).to_i %>
                  <p style="margin-bottom: 0px;"> <%= time %> hours</p>
              <% end %>
          </div>
        </div>
        <div>
          <%= link_to 'follow', "#", class:"btn btn-outline-dark" %>
        </div>
      </div>
    </div>
    <!-----------------------End of Owned card---------------->


    <!-----------------------Comments card ------------------------->
    <div class="card bg-white p-3" style="width: 580px; border-radius: 5px">
      <% if @nft.comments.blank? %>
        Be the first to leave a comment for <strong><%= @nft.name %></strong>
      <% else %>
        <% @nft.comments.each do |comment|%>

        <div class="comment-card-bio">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-large", alt: "avatar" %>
          <h5 style="font-weight: 500; color:#3A77BB;"><%= comment.user.first_name %><%= comment.user.last_name %></h5>
          <p id="comment-<%= comment.id %>"><%= comment.content %></p>
        </div>
        <div class="comment-card-delete-date">
          <% if comment.user.id == current_user.id %>
            <%= link_to 'Delete', nft_comment_path(@nft, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <p>Date</p>
        </div>
        <% end %>
      <% end %>
      <%= simple_form_for([ @nft, @comment ], remote: true) do |f| %>
        <%= f.text_field :content, label: false, placeholder:"Your comment...", class: "form-control" %>
        <%= f.submit "Comment", class:"btn follow-button my-2" %>
      <% end %>
    </div>

<!-- Iuser logged in show avatar, name and delete button
      comment @ delete display flex space between
      name = comment stack on top
      name = comment color
      placeholder for text box- outline grey -->


<!-- #analogy for creating a link to destroy
the path- start point nft- follow the road (foregin key) to end point (comment)
when we get to end point we need to know who to kill by their id
Nft -----foregin key path----comment--id/destroy
Rais route path below
nft_comment DELETE /nfts/:nft_id/comments/:id(.:format)---->
 <!--nft_comment_path(nft_id: @nft.id, id: comment.id) use the same as-->






