<div id="navbar" class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Home", root_path, class: "nav-link", id: "home-link" %>
  
  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">hey</span>
  </button> %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

      <div class="dropdown">
        <li class="nav-item active" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          <%= current_user.incoming_notifications.unseen_notifications.count %>
          <i class="far fa-bell"></i>
        </li>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% current_user.incoming_notifications.unseen_notifications.each do |n| %>
            <li class="border-bottom nav-item2"><%= link_to "#{n.user.first_name} commented on #{n.comment.nft.name}", nft_path(n.comment.nft) %></li>
          <% end %>
        </div>
      </div>

        <li class="nav-item active">
          <%= link_to "New NFT", new_nft_path, class: "nav-link", id: "new-nft-navlink" %>
        </li>

        <div class="dropstart">
          <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
           <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
            <%= image_tag 'default_profile_picture.jpg', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li class="nav-item"><%= link_to "My profile", user_path(current_user), class: "nav-link dropdown-item" %></li>
            <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item nav-link" %></li>
         </div>
        </li> 
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
