<div id="navbar" class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div id="home-link"><%= link_to "Home", root_path, class: "nav-link" %></div>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">hey</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "New NFT", new_nft_path, class: "nav-link" %>
        </li>
        <%# <li class="nav-item"> %>
          <%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <%# </li> %>
        <div class="dropstart">
          <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <%#= link_to "Action", "#", class: "dropdown-item" %>
            <%#= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
            <li class="nav-item"><%= link_to "My profile", user_path(current_user), class: "nav-link dropdown-item" %></li>
            <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item nav-link" %></li>
         </div>
        </li> 
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
