<div>
    <div class="search-friend" style="width: 800px;">
        <%= form_for root_path, method: :get do %>
            <div class="d-flex">
                <div style="width: 600px;margin-right: 20px;">
                    <%= text_field_tag :name,
                    params[:name],
                    class: "form-control",
                    placeholder: "Find a friend"
                    %>
                </div>
                <div class="col-2">
                    <%= submit_tag "Search", class: 'btn new-nft-btn' %>
                </div>
            </div>
        <% end %>
        <div id="names_search">
            <% if !users.nil? && users != []%>
                <ul class="list-group">
                    <% users.each do |user| %>
                        <li class="d-flex justify-content-between align-items-center card-search-user">
                            <div class="infos-user d-flex align-items-center">
                                <% if user.avatar.attached? %>
                                    <%= cl_image_tag user.avatar.key, class: "avatar-large", alt: "avatar" %>
                                <% end %>
                                <p style="margin-bottom: 0px;margin-left: 20px;"><%= user.first_name %> <%= user.last_name %></p>
                            </div>
                            <div class="link-user-page">
                                <%= link_to "Profile", user_path(user), class: "link-friend-page" %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        </div>
        <!------------------------- Category search ---------------------------------->
    </div>
</div>
