<!------------------Banner-------------------------->
<%= render 'shared/banner', message: "Find & Showcase" %>

<!------ Searching for a friend --------------->
<div class="d-flex justify-content-between align-items-start w-100" style="margin-bottom: 80px; margin-top: 80px;">
    <div style="margin-left: 45px;">
        <%= render 'search_users', users: @users %>
    </div>
    <div style="margin-right: 45px;">
        <div class="d-flex align-items-center">
            <h5 style="color: #3A77BB; font-weight: 600;margin-bottom: 0px;" class="mx-3">Select a category: </h5>
            <%#= simple_form_for root_path, method: :get do |f| %>
                <%#= f.select :category, @categories_nft, class: 'select2-category' %>
            <%# end %>
            <div style="margin-right: 20px;">
                <select class="select2-category" multiple="multiple" style="width: 350px;" name="categories_nft" id="my-select" >
                    <%# multiple="multiple" gives the option to select multiple options in one search %>
                    <% @categories_nft.each do |category| %>
                    <%# Array of options %>
                        <option class="option-select2" value="<%= category.upcase[0..2]%>" >
                            <%= category.upcase %>
                        </option>
                    <% end %>
                </select>
            </div>
            <%= simple_form_for root_path, method: :get do |f| %>
                <%= hidden_field_tag :nft_category, "", id:"submit-category" %> 
                <%# <input type="text" value="submit_cat.value see in select2 js file" hidden name="nft_category"> %>
                <%= f.submit "Confirm", class: "btn new-nft-btn", id:"btn-submit-category"  %>
            <% end %>
        </div>
    </div>
</div>
<!--------------------------------END Searching for a friend------------------------->

<!-------------------------------------Main container--------------->
<div class="main-container">
  <div class="card-left">
    <div class="social-media-card">
        <% if current_user %>
            <div class="social-media-links d-flex align-items-center my-2">
                <i class="far fa-heart mr-5"></i>
                <%= link_to "Creations", user_path(current_user, category: "created") %>
            </div>
        <% end %>
      <div class="social-media-links d-flex align-items-center my-2">
        <i class="far fa-heart mr-5"></i>
        <%= link_to "Most Liked", liked_nfts_nfts_path %>
      </div>
       <%= link_to "New NFT", new_nft_path, class:"btn new-nft-btn mt-4", id:"new-btn"  %>
        <hr>
        <%# if current_user %>
            <%#= link_to "My profile", user_path(current_user), class:"btn new-nft-btn mt-4", id:"my-profile-btn" %>
        <%# end %>
    </div>
    <div class="card-follow-category" data-aos="fadein">
        <%# <h5 style="color: #3A77BB; font-weight: 600;" class="mx-3">Categories: </h5> %>
        <%# <%= render 'search_users', users: @users %> 
        <% @categories_nft.each_with_index do |category, index| %>
            <%= simple_form_for root_path, method: :get do |f| %>
                <%= hidden_field_tag :nft_category, "#{category}", id:"nft_category#{index}" %>
                <%= f.submit "#{category}", class: "btn upload-file mx-2" %>
            <% end %>
        <% end %>
    </div>
  </div>

  <div class="card-center">
    <% @nfts.each do |nft| %>
        <!-- <div class="d-flex justify-content-center"> -->
            <div class="card-main">
                <% user = User.find(nft.user_id) %>
                <% if nft.image_url %>
                    <div class="title-card d-flex align-items-center p-2">
                        <%= cl_image_tag user.avatar.key, class: "avatar-large", alt: "avatar" %>
                        <div class="title-card-block px-3" id='nft-index-<%= nft.id %>'>
                            <%= link_to "#{user.first_name} #{user.last_name}", user_path(user)%>
                            <p><%= user.bio %></p>
                            <% timeUTC = Time.now.utc - nft.created_at  %>
                            <% time = (timeUTC / 60).to_i %>
                            <% if time < 119 %>
                                <p style="margin-bottom: 0px;"> <%= time %> min</p>
                            <% else %>
                                <% time = (time / 60).to_i %>
                                <p style="margin-bottom: 0px;"> <%= time %> hours</p>
                            <% end %>

                        </div>
                    </div>
                <% end %>
                <hr>
                <%= link_to nft_path(nft), class:'text-decoration-none' do %>
                    <p class="p-2"><%= nft.name %></p>
                    <%= image_tag nft.image_url, crop: :fill, :class=> "home-nft-img" %>
                <% end %>
                <div class="d-flex my-2 p-2 align-items-center" data-controller="homeLike">
                    <%= link_to toggle_favorites_path(nft_id: nft.id), remote: true, style: "color: black;", method: :post, data: { action: "click->homeLike#likeUpdate"} do %>
                    <!-- the link default is black -->
                      <%= render 'like_button', nft: nft %>
                    <% end %>
                    <%= link_to nft_path(nft) do  %>
                        <i class="far fa-comment commentLogo" style="color:#E94A47;">   <%= nft.comments.count %></i>
                    <% end %>
                    <div id="comment-home"></div>
                </div>
                <div class="padding-avatar d-flex align-items-center justify-content-start pl-2 pb-2">
                   <% nft.favoritors.first(2).each_with_index  do |favoritor, index| %>
                     <%= cl_image_tag favoritor.avatar.key, class:"avatar #{'ml-20' if index > 0}" %>
                   <% end %>
                  <p class="m-0" style="padding-left: 8px">liked by
                     <% nft.favoritors.first(2).each  do |favoritor| %>
                       <strong><%= favoritor.first_name %></strong>
                     <% end %>
                     <% if nft.favorited.count > 2 %>
                       and <strong><%= nft.favorited.count - 2  %></strong>
                       <strong><%= 'other'.pluralize(nft.favorited.count - 2)  %></strong>
                    <% end %>
                   </p>
                </div>
            </div>
        <!-- </div> -->
    <% end %>
 </div>


<div class="card-right">
    <div class="card-suggestion">
        <div class="card-title">
            <h4>Suggested for you</h4>
        </div>
        <hr>
        <div class="cards-suggestion">
            <% @user_suggestions.each do |user| %>
                <div class="card-horizontal mb-2">
                    <div class="card-follow d-flex justify-content-around align-items-center">
                        <%= link_to user_path(user), class:'text-decoration-none' do %>
                        <%= cl_image_tag user.avatar.key, class: "avatar-large", alt: "avatar" %>
                        <% end %>
                        <h5 style="font-weight: 500; color:#3A77BB;"><%= user.first_name %></h5>
                        <div data-controller="followUser">
                            <%= link_to toggle_follows_path(user_id: user.id), class:"link-suggestion", remote: true, method: :post, data: { action: "click->followUser#refresh" }, style:"color: grey;" do %>
                            <%# followUser is the js controller and refresh the method found in it %>
                            <!-- the link default is black -->
                                <%= render 'follows_button', user: user %>
                            <% end %>
                        </div>

                        <%#= link_to "Follow", user_path(user), class:"follow-button" %>
                    </div>

                    <div class="card-nfts d-flex justify-content-around mt-1">
                        <% if user.nfts %>
                            <% user.nfts[0..2].each do |nft| %>
                                <%= image_tag nft.image_url, class: "avatar-square", alt: "avatar" %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <hr>
            <% end %>
        </div>
    </div>
</div>
<!------------End Main Container------------------->


